<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Create an input of type "text"</li>
    <li class="list-group-item">Attach a template reference variable to the input</li>
    <li class="list-group-item">Attach an "input" event passing in the value of textbox to the handler</li>
    <li class="list-group-item">Create handler in the component's class</li>
    <li class="list-group-item">Display the result on the page via string interpolation</li>
  </ul>
  <div class="container your-code">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">User Input</span>
      </div>
      <input #assignment1 type="text" (input)="Myfunction(assignment1.value)" class="form-control" placeholder="Enter your text here..." aria-describedby="basic-addon1">
    </div>
    <div class="alert alert-success" *ngIf="values && values.length > 0; else noValues" role="alert">
      {{values}}
    </div>
  </div>
</div>

<ng-template #noValues>
  <div class="alert alert-danger" role="alert">
   No Input Yet!!!
  </div>
</ng-template>
